*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
.navbar-container{
    position: sticky;
    top:0;
}
.navbar-content{
    border:2px solid red;
    height:4rem;
    background-color: white;
    display:flex;
}
.nav-logo{
    border:2px solid green;
    height:100%;
    width:8%;

    img{
        height:100%;
        width:100%;
        object-fit:contain;
    }
}

.header{
    border:2px solid blue;
    display:flex;
    align-items: center;
    justify-content:space-between;
    gap:2rem;
    width:92%;
}
.theme-icon-container{
    display:flex;
    justify-content:space-between;
    cursor: pointer;
}
.logo-title{
    font-size:22px;
}
.moon-icon{
    font-size:22px;
}
.moon-icon>p{
    font-weight: lighter;
}

/* styles for search and filter section */
.search-and-filter-container{
    border:2px solid black;
    min-height:4rem;
    display:flex;
    justify-content: space-between;
    padding:1rem 1rem;
}
.search-container{
    border:2px solid red;
    height:100%;
    width:30%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.filter-container{
    border:2px solid red;
    height:100%;
    width:30%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
    margin-bottom:1rem;
}
#search-input{
    width:70%;
    padding:2%;
}
#filter-by-region{
    width:70%;
    padding:2%;
}
.countries-card-container{
    border:2px solid black;
    height:100vh;
    display:grid;
    /* grid-template-rows: auto; */
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:1rem;
}
.country-card{
    border:2px solid blue;
    height:30rem;
    max-width:400px;
    margin:auto;
}
.country-image-container{
    border:2px solid green;
    height:60%;

    img{
        height:100%;
        width:100%;
        object-fit:fill;
    }
}
.country-text-container{
    border:2px solid red;
    height:40%;
    padding:1rem 0.7rem;
}
.country-name{
    font-size:xx-large;
}
.other-texts{
    border:1px solid black;
    margin-top:10px;
    font-size: 1.25rem;

    .capital-texts,.region-text,.population-text{
        display:flex;
        margin-top:0.5rem;        
    }
    .text-fade{
        color:gray;
    }
}



@media screen and (min-width:300px) {
    .logo-title{
        display:none;
    }
    .header{
        justify-content: end;
    }
    .theme-icon-container{
        padding:0 1rem;
        align-items: center;
    }
    .moon-icon::before{
        font-size:1.7rem;
    }
    .theme-icon-container>p{
        font-size: 1rem;
        font-weight: normal;
    }
    .nav-logo{
        width:32%;
    }
    /* search and filter section */
    .search-and-filter-container{
        display:block;
    }
    .search-container{
        /* border:2px solid red; */
        width:100%;
    }
    .filter-container{
        /* border:2px solid red; */
        width:100%;
    }
    #search-input{
        width:95%;
        padding:2%;
    }
    #filter-by-region{
        width:95%;
        padding:2%;
    }
    
}

@media screen and (min-width:768px){
    .nav-logo{
        width:12%;
    }
    .logo-title{
        display:inline-block;
    }
    .header{
        justify-content: space-between;
    }
    /* search and filter section */
    .search-and-filter-container{
        display:flex;
        gap:2rem;
    }
    .search-container{
        /* border:2px solid red; */
        width:100%;
    }
    .filter-container{
        /* border:2px solid red; */
        width:100%;
        margin-top:0;
    }
}

@media screen and (min-width:1024px){
    .nav-logo{
        width:8%;
    }
    /* search and filter section */
    .search-container{
        /* border:2px solid red; */
        width:30%;
    }
    .filter-container{
        /* border:2px solid red; */
        width:30%;
    }
}